<h1>First Name: <%= @employee.first_name %> </h1>

<h1>Last Name: <%= @employee.last_name %> </h1>

<h2>Alias: <%= @employee.alias %> </h2>

<h2>Title: <%= @employee.title %> </h2>

<h2>Office: <%= @employee.office %></h2>

<h2>Dog: <%= @employee.dog.name %></h2>

<img src= <%= @employee.img_url %>>